.slide-fade-enter-active,
 .slide-fade-leave-active {
  transition: all 1s ease;
}

.slide-fade-enter-from,
 .slide-fade-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
